# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go build command
*.out
/bin/

# Go workspace files
go.work
go.work.sum

# Coverage reports
coverage.out
coverage.html

# Dependency directories
vendor/

# Environment files
.env
.env.*
!.env.example

# Tracemesh local state (created by `tm init`, never commit)
/.tracemesh/

/tm
